<div class="field">
<label>Имя:</label>
  <input
    type="text"
    title="Введите число от 1 до 9" pattern="[1-9]"
    placeholder="Ваше имя"
    [(ngModel)]="firstName"
  >

    <!-- (keydown.enter)="pushUserData()" -->
  <br>
  <label>Фамилия:</label>
  <input
    type="text"
    placeholder="Ваша фамилия"
    [(ngModel)]="lastName"
    (keydown.enter)="pushUserData()"
  >
  <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

  <br>
  <label>День Рождения:</label>
  <input 
    type="date"
    [(ngModel)]="dateOfBirth"
    (keydown.enter)="pushUserData()"
    >

    <br>
    
    <label>js технологии:</label>
    <select [(ngModel)]="framework" (click)="frameSelect()">
      <option *ngFor="let el of mast">{{el}}</option>
    </select>

    <br>

    <label>Версия:</label>
    <select [(ngModel)]="frameworkVersion" [disabled]="!flagversion">
      <option *ngFor="let el of versins">{{el}}</option>
    </select>

    <br>
    <label>email:</label>
  <input
  type="email"
  placeholder="Ваша эл. почта"
  [(ngModel)]="email"
  >
</div>

<button (keydown.enter)="pushUserData()" (click)="pushUserData()">Отправить</button>
