input:valid {
  border-color: green;
  color: green;
  box-shadow: none;
}

input:invalid {
  border-color: red;
  color: red;
  box-shadow: none;
}

.field {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:1px;}
.main {float:left}