<div class="field">
<label>Имя:</label>
  <input
    type="text"
    placeholder="Ваше имя"
    [(ngModel)]="firstName"
    required
  >

    <!-- (keydown.enter)="pushUserData()" pattern="[1-9]" title="Введите число от 1 до 9"-->
  <br>
  <label>Фамилия:</label>
  <input
    type="text"
    placeholder="Ваша фамилия"
    [(ngModel)]="lastName"
    required
  >
  <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

  <br>
  <label>День Рождения:</label>
  <input 
    type="date"
    [(ngModel)]="dateOfBirth"
    required
    >

    <br>
    
    <label>JS технологии:</label>
    <select [(ngModel)]="framework" (click)="frameSelect()">
      <option *ngFor="let el of mast">{{el}}</option>
    </select>

    <br>

    <label>Версия:</label>
    <select [(ngModel)]="frameworkVersion" [disabled]="!flagversion">
      <option *ngFor="let el of versins">{{el}}</option>
    </select>

    <br>
    <label>email:</label>
  <input
  type="email"
  placeholder="Ваша эл. почта"
  [(ngModel)]="email"
  required
  >

  <br>
  <div *ngFor="let el of masHobby">
  <label>Хобби:</label>
  <input
  type="text"
  placeholder="Название хобби"
  [(ngModel)]="el.name"
  required
  >
  <input
  type="text"
  placeholder="Длительность"
  [(ngModel)]="el.duration"
  required
  >
  </div>
    <button (click)="addHobbi()">Прибавить</button>
    <button (click)="delHobbi()"[disabled]="masHobby.length < 2">Удалить</button>

</div>

<button (click)="pushUserData()">Отправить</button>
